.Centrar{

text-align: center;

}

.FondoPagina
{

    background-color:#3b3a3a;    
}
h1
{


    background-color:white;    
}

.parrafo
{
    text-align: center;
    background-color: white;
}